#home{
    /* background-image: url(../bootstrap-5.3.0-dist/zdj4.jpg); */
	background-image: url("zdj4.jpg");
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 900px;
	min-height: 100vh;
	align-items: center;
	display: flex;
	justify-content: center;
	
	
}

#home h1{
	
	font-weight: 600;
	
}
#home p{
	/* max-width: 550px; */
	font-weight: 600;
	margin: auto;
}
